<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1052798444884-6j0pio45g29sgsm47hsms498gghcktob.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1052798444884-6j0pio45g29sgsm47hsms498gghcktob</string>
	<key>API_KEY</key>
	<string>AIzaSyBmZcns6cmplqMJGk0SIZ6FfEDfLgtQGzk</string>
	<key>GCM_SENDER_ID</key>
	<string>1052798444884</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sornyei.InstagramFirebase</string>
	<key>PROJECT_ID</key>
	<string>instagramfirebase-8b190</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramfirebase-8b190.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1052798444884:ios:deb0e9f9ce6b6fff</string>
	<key>DATABASE_URL</key>
	<string>https://instagramfirebase-8b190.firebaseio.com</string>
</dict>
</plist>