Pods/
Pods
/InstagramFirebase.xcworkspace/xcuserdata/gabor.sornyei.xcuserdatad/UserInterfaceState.xcuserstate
/InstagramFirebase.xcworkspace/xcuserdata/gabor.sornyei.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
